body {
  FONT-FAMILY: Verdana;
  background: #d9ce42 url('topbg.png') repeat-x top left;
}

.header-tab {
  width: 100%;
  padding-right: 30px;
}
.logo {
  background: url('logo.png') no-repeat center right;
  width: 350px;
  height: 115px;
}
.line-header {
  background: url('topline.png') repeat-x center;
  width: 44%;
}
.line-header-right {
  background: url('topline_right.png') no-repeat center left;
  width: 20px;
}
#board {
  padding: 0 10px 0 110px;
  background: url('bgnode.png') repeat-y top left;
}
.board-top {
  margin-top: 20px;
  background: url('toper.png') no-repeat bottom left;
  width: 800px;
  height: 40px;
}
.board-bottom {
  background: url('footer.png') no-repeat top left;
  width: 800px;
  height: 40px;
}
.icons {
  padding-bottom: 10px;
}
.copyright {
  font-size: 10px;
  text-align: center;
}
a, a:visited {text-decoration: underline; color: #000000;}
a:hover, a:active {text-decoration: underline; color: #FF9C00;}

A.menu {COLOR: #666666; TEXT-DECORATION: none}
A.menu:hover {COLOR: #009900; TEXT-DECORATION: none}

/* Здесь ниже задаётся стиль для ссылок - все ссылки в квадратиках обведённых нежным оттенком основного цвета */
.aboard {
  font-family: Verdana; 
  font-size:12px; 
  padding-top:2px;
  padding-bottom:2px;
  text-decoration: underline; 
  border: 1px #FF8040 solid; 
  background: #FFE7CE;
  padding:1px 4px 1px 4px;
  margin: 5px 0 0 0;
 -moz-border-radius: 4px;
 -khtml-border-radius: 4px;
 -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tab {
  position: relative;
  left: 14%;
  border: 1px #FF8040 solid; 
  background: #FFE7CE;
  padding:1px 4px 1px 4px;
  margin: 10px 0 0 0;
 -moz-border-radius: 4px;
 -khtml-border-radius: 4px;
 -webkit-border-radius: 4px;
  border-radius: 4px;
}

SELECT {BACKGROUND: #ffffff; FONT: 13px Verdana,Arial,Helvetica,sans-serif}
INPUT {BORDER-RIGHT: #FF8040 1px solid; BORDER-TOP: #FF8040 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; FONT: 13px Verdana,Arial,Helvetica,sans-serif; BORDER-LEFT: #FF8040 1px solid; BORDER-BOTTOM: #FF8040 1px solid}
TEXTAREA {BORDER-RIGHT: #FF8040 1px solid; BORDER-TOP: #FF8040 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; FONT: 13px Verdana,Arial,Helvetica,sans-serif; BORDER-LEFT: #FF8040 1px solid; BORDER-BOTTOM: #FF8040 1px solid}

.maxiinput {WIDTH: 300px; color: 000000; border: #808080 1 solid;}
.maininput {WIDTH: 130px; color: 000000; border: #808080 1 solid;}
.miniinput {WIDTH: 50px; color: 000000; border: #808080 1 solid;}

.toptable {FONT-SIZE: 9px; background: #FF9B04}

.small {FONT-SIZE: 11px;}

TD {FONT-SIZE: 11px}
TD.menu {FONT-SIZE: 11px; FONT-WEIGHT: bold}
TD.main {FONT-SIZE: 13px; FONT-WEIGHT: bold}

TABLE.bakfon {background: #FFCD95}
TR.vip {background: #FFF5DD}
TR.row1 {background: #FFFFFF}
TR.row2 {background: #FFF5DD}

